body {
    font-family: fantasy;
    color:  #3ec1d3;
}

.container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #3ec1d3;;
    padding: 25px 35px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 20px;
    position: relative;
    color: #f6f7d7;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    box-shadow: 3px 3px #f6f7d7;
    z-index: 2;
}

.btn:hover {
  box-shadow: 1px 1px #f6f7d7;
  top: 1px;
}

.btn:active {
  box-shadow: none;
  top: 1px
}
